name: build client

on:
  push:
    branches: [ master, develop ]
  pull_request:
    branches: [ master, develop ]
  workflow_dispatch:
jobs:
  build-clients:
    runs-on: windows-2022
    strategy:
      matrix:
        Game: [Ares,TS,YR]

    steps:
    - uses: actions/checkout@v3.6.0
      with:
        fetch-depth: 0

    - name: Setup .NET Core SDK
      uses: actions/setup-dotnet@v3.2.0
      with:
        dotnet-version: '7.x.x'

    - name: Build ${{matrix.Game}}
      run: ./BuildScripts/Build-${{matrix.Game}}.ps1
      shell: pwsh

    - uses: actions/upload-artifact@v3.1.2
      name: Upload Artifacts
      with:
        name: artifacts-${{matrix.Game}}
        path: ./Compiled/${{matrix.Game}}

