name: build client

on:
  push:
    branches: [ master, develop ]
  pull_request:
    branches: [ master, develop ]
  workflow_dispatch:
jobs:
  build-clients:
    runs-on: windows-2022
    steps:
    - uses: actions/checkout@v4
      with:
        fetch-depth: 0
        submodules: recursive

    - name: Setup .NET SDK
      uses: actions/setup-dotnet@v4
      with:
        global-json-file: ./global.json

    - name: Build
      run: ./Scripts/build.ps1
      shell: pwsh

    - uses: actions/upload-artifact@v4
      name: Upload Artifacts
      with:
        name: artifacts
        path: ./Compiled
