name: Publish
on:
  workflow_dispatch:
permissions:
  contents: write
  packages: write
jobs:
  publish:
    runs-on: windows-latest
    steps:
    - name: Checkout
      uses: actions/checkout@main
      with:
        fetch-depth: 0

    - name: Setup .NET Core SDK
      uses: actions/setup-dotnet@main
      with:
        dotnet-version: '7.x.x'

    - name: Install GitVersion
      uses: gittools/actions/gitversion/setup@main
      with:
        versionSpec: '5.x'

    - name: Determine Version
      uses: gittools/actions/gitversion/execute@main

    - name: Publish
      run: dotnet publish SecondStageUpdater/SecondStageUpdater.csproj --configuration Release -p:DebugType=embedded -p:AssemblyVersion=$env:GitVersion_AssemblySemVer -p:FileVersion=$env:GitVersion_AssemblySemFileVer -p:InformationalVersion=$env:GitVersion_InformationalVersion

    - name: Zip
      run: 7z a -r ${{ format('SecondStageUpdater-v{0}.zip', env.GitVersion_SemVer) }} ./SecondStageUpdater/bin/Release/net7.0/publish/*.*

    - name: Pack
      run: dotnet pack ClientUpdater\ClientUpdater.csproj --configuration Release -p:AssemblyVersion=$env:GitVersion_AssemblySemVer -p:FileVersion=$env:GitVersion_AssemblySemFileVer -p:InformationalVersion=$env:GitVersion_InformationalVersion -p:PackageVersion=$env:GitVersion_NuGetVersionV2

    - name: Prerelease
      if: ${{ env.GitVersion_PreReleaseTag != '' }}
      run: gh release create ${{ format('v{0}', env.GitVersion_SemVer) }} (@(get-item *.zip) + @(get-item ClientUpdater\bin\Release\*.*nupkg)) --generate-notes --target ${{ github.sha }} --prerelease
      env:
        GH_TOKEN: ${{ github.token }}

    - name: Release
      if: ${{ env.GitVersion_PreReleaseTag == '' }}
      run: gh release create ${{ format('v{0}', env.GitVersion_SemVer) }} (@(get-item *.zip) + @(get-item ClientUpdater\bin\Release\*.*nupkg)) --generate-notes --target ${{ github.sha }}
      env:
        GH_TOKEN: ${{ github.token }}

    - name: Push
      run: dotnet nuget push ClientUpdater\bin\Release\*.nupkg --api-key ${{ secrets.GITHUB_TOKEN }} --source ${{ format('https://nuget.pkg.github.com/{0}/index.json', github.repository_owner) }}